<h1> Hi child!</h1>
<h2>Please let us know who you are</h2>
<p> If you want a sister, ask your mother to add a new child</p>

<% @children.each do |child| %>
  <li><%= link_to child.name, child_path(child.id) %></li>
<%end %>
