<div class="home">
  <div class="home_back">
    <%= button_to "I am a mom", moms_path, :class => "button", :method => :get  %> 
    <%= button_to "I am a child", children_path, :class => "button", :method => :get  %>

  </div>
</div>
