<div class="home">
  <div class="home_back">
    <li class="button"> <%= link_to "I am a mom", moms_path %> </li>
    <li class="button"> <%= link_to "I am a child", children_path %></li>
  </div>
</div>
