<h1>Here are your toys </h1>
<% @toys.each do |toy| %>
  <p> The toy is <%= toy.kind %> </p>
  <p> it's color is <%= toy.color %> </p>
  <%= link_to "Edit your toy", edit_child_toy_path(toy.child_id, toy.id) %>
<% end %>

<%= link_to "Add a new toy", new_child_toy_path %>
